.well.well-small
  %p
    .pull-right{ :'data-position' => 'bottom', :'data-intro' => 'Reset the filter settings to defaults.' }
      = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm'
    .chardin_box{ :'data-position' => 'bottom', :'data-intro' => "will_paginate's entries info works as expected." }
      = page_entries_info lessons, :model => 'lesson'
    .chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Spinner indicates update.' }
      = render_filterrific_spinner

%table.table
  %tr
    %th Curriculum
    %th Lesson
    %th Time
    %th Level
  - lessons.each do |lesson|
    %tr.accordion-toggle{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}
      %td= lesson.curriculum.name
      %td= link_to lesson.name, lesson.lesson_url, :target => "_blank"
      %td= lesson.time
      %td= lesson.level_list
    %tr.accordion-body.collapse{:id => "#{lesson.id}"}
      %td
        - if lesson.plugged?
          %i.fa.fa-plug.fa-lg.plugged
        - else
          %i.fa.fa-plug.fa-lg.unplugged Unplugged
      %td
        - if lesson.description
          %p= lesson.description
        - else
          %p No description is available for this lesson.
      %td
      %td

.chardin_box{ :'data-position' => 'top', :'data-intro' => "will_paginate's paginator works as expected." }
  = will_paginate lessons, renderer: BootstrapPagination::Rails
