#table-results
  %table.table
    %colgroup
      %col{ :style => 'width:25%;'}
      %col{ :style => 'width:40%;'}
      %col{ :style => 'width:5%;'}
      %col{ :style => 'width:10%;'}
      %col{ :style => 'width:10%;'}
      %col{ :style => 'width:10%;'}
    %tr
      %th Lesson
      %th Curriculum
      %th
      %th Time
      %th Grades
      %th Select
    - lessons.each do |lesson|
      %tr.accordion-toggle{ class: ("selected" if in_session?("#{lesson.id}"))}
        %td{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}= link_to lesson.name, lesson.lesson_url, :target => "_blank"
        %td{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}
          %h4{ :style => 'margin-top: 0px;'}= lesson.curriculum.name
          - if lesson.description
            %p= lesson.description
          - else
            %p No description is available for this lesson.
        %td{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}
          - if lesson.plugged?
            %i.fa.fa-plug.fa-lg.plugged
          - else
            %i.fa.fa-plug.fa-lg.unplugged Unplugged
        %td{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}= lesson.time
        %td{ :'data-toggle' => 'collapse', :'data-target' => :"##{lesson.id}"}= lesson.level_list
        %td
          %input.lesson-checkbox{type: "checkbox", checked: in_session?("#{lesson.id}"), data: {lesson_id: "#{lesson.id}"}}
      %tr.accordion-body.collapse{:id => "#{lesson.id}"}
        %td
        %td{ :colspan => '5'}
          - lesson.standards.uniq.each do |standard|
            %p
              %strong= standard.abbreviation
              &nbsp;&nbsp;&nbsp;
              - standard.codes.each do |sc|
                - lesson.codes.each do |lc|
                  - if sc.identifier == lc.identifier
                    = lc.identifier
                    &nbsp;&nbsp;&nbsp;
  .row.pagination-row
    .chardin_box.pull-left{ :'data-position' => 'top', :'data-intro' => "will_paginate's paginator works as expected." }
      = will_paginate lessons, renderer: BootstrapPagination::Rails
    %button.btn.btn-green.pull-right{ :'data-toggle' => "modal", :'data-target' => "#emailFormModal" } Email to Me
